#map-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    aspect-ratio: 1920 / 1080;
    background: url('../image/map.jpg') no-repeat center center;
    background-size: contain;
}
.marker {
    position: absolute;
    font-size: 24px;
    cursor: grab;
    transform: translate(-50%, -50%);
}
.icon-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.icon-option {
    font-size: 24px;
    cursor: pointer;
}
#removeMarker, #updateMarker {
    display: none; /* Initially hide the remove and update buttons */
}
#saveMarker {
    display: none; /* Initially hide the save button */
}
.marker {
    cursor: move; /* This sets the pointer cursor during drag */
}