#map-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    aspect-ratio: 1920 / 1080;
    background: url('../image/map.jpg') no-repeat center center;
    background-size: contain;
}

.marker {
    position: absolute;
    font-size: 24px;
    cursor: pointer; /* Use pointer for touch devices */
    transform: translate(-50%, -50%);
}

.icon-option {
    cursor: pointer;
    margin-right: 10px;
}

.icon-option.selected {
    outline: 2px solid #000;
    border-radius: 50%;
}

#removeMarker, #updateMarker {
    display: none; /* Initially hide the remove and update buttons */
}

#saveMarker {
    display: none; /* Initially hide the save button */
}

@media (max-width: 768px) {
    #map-container {
        height: 300px;
    }

    .marker {
        width: 30px; /* Increase size for mobile */
        height: 30px; /* Increase size for mobile */
    }

    .icon-option {
        margin-right: 5px; /* Adjust spacing for mobile */
    }
}
